{% extends "wrapper/base.html" %}
{% block content %}

<section class="section is-medium">
  <div class="columns">
    <div class="column">
      <h1 class="is-size-1"><span class="has-text-primary">#</span><b>Team3</b></h1>
      <h1 class="is-size-1">Text <b>insights</b> & <b>organizer</b></h1>
      <hr>
    </div>
    <div class="column">
      <div id="my_dataviz"></div>
    </div>
  </div>
</section>

{#
<section class="section is-medium">
  <div class="columns">
    <div class="column">
      <div class="notification is-primary">
        Collect Data
      </div>
    </div>
    <div class="column">
      <div class="notification is-primary">
        Organize Data
      </div>
    </div>
    <div class="column">
      <div class="notification is-primary">
        Understand Data
      </div>
    </div>
  </div>
</section>
#}

{% endblock %}

{% block javascript %}
{# <script>{% include 'home/hashtagRelationshipGraph.js' %}</script> #}
<script>{% include 'find_similar_hashtags/bubble.js' %}</script>
{% endblock %}
