<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style>

.node {
  font: 10px sans-serif;
}

.link {
  stroke: steelblue;
  stroke-opacity: 0.5;
  fill: none;
  pointer-events: none;
}

</style>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <link href= "{{ url_for('static',filename='bulma/css/bulma.css') }}" rel="stylesheet" type="text/css">
</head>
<head>
  {% include 'wrapper/nav.html' %}
</head>
<body>
  {% block content %}
  {% endblock %}

  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://d3js.org/d3.v4.min.js"></script>

  <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

  {% block javascript %}
  {% endblock %}
</body>
</html>